body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #ffffff;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.final {
    background-color: rgb(0, 0, 0);
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
.tarjeta{
    width: 35%;
    border: black 5px solid;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
@font-face {
    font-family: FontH2;
    src: url("./Fonts/mifuente.Font2/Quantico-Bold.ttf") format("woff2"),
         url("./Fonts/mifuente.Font2/Quantico-BoldItalic.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}
.Fuente-h2{
    font-family: 'FontH2', Ariel;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    padding: 10px;
}
.info{ 
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 15px;
    text-align: center;
    font-size: large;
}
.user {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px; 
    margin-left: 20px;
    margin: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin: 10px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.55cm;
}