body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #ffffff;
    text-align: justify;
    color: rgb(0, 0, 0);
    margin: 20;
    margin-left: 20px;
    margin-right: 20px;
}
.final {
    background-color: rgb(0, 0, 0);
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
.user {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px; 
}
@font-face {
    font-family: FontH2;
    src: url("./Fonts/mifuente.Font2/Quantico-Bold.ttf") format("woff2"),
         url("./Fonts/mifuente.Font2/Quantico-BoldItalic.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}
.Fuente-h2{
    font-family: 'FontH2', Ariel;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-align: justify;
    padding: 10px;
}
.info{
    display: flex; 
    margin-bottom: 10px;
    background-color: darkgray;
    width: 45%;
    margin: 20;
}
h1{
    background-color: #0091ff;
    text-align: center;
}
.p1{
    margin-left: 20px;
    background-color: aliceblue;
    border: black 2px solid;
    width: 15rem;
}