body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #ffffff;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.final {
    background-color: rgb(0, 0, 0);
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}
.tarjeta{
    width: 50%;
    border: black 5px solid;
    
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}
@font-face {
    font-family: FontH1;
    src: url("./Fonts/mifuente.Font1/Mogra-Regular.ttf") format("woff2"),
         url("./Fonts/mifuente.Font1/Mogra-Regular.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}
.Fuente-h1{
    font-family: 'FontH1', Ariel;
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.info{
    display: flex; 
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    margin: 20;
}
.user {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-right: 20px; 
    margin-left: 20px;
    margin: 20px;
}