body {
    font-family: 'Calibri (cos)',Trebuchet MS, Arial, sans-serif;
    background-color: #a2b799;
    text-align: center;
}
.formulario{
    color: #000000;
    font-weight: bolder;
    text-align: center;
}
.nav{
    text-align: center;
}
.final {
    background-color: rgb(0, 0, 0);
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}